DATABASE_URL=
DIRECT_URL=
JWT_SECRET=

MAIL_MODE=
ADMIN_EMAIL=

APP_NAME=
APP_URL=

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_TICKET_ATTACHMENTS_BUCKET=
SUPABASE_PROFILE_IMAGES_BUCKET=

NODE_ENV=production
PORT=3000