DATABASE_URL=
DIRECT_URL=
JWT_SECRET=

APP_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=
MAIL_REPLY_TO=
TICKET_NOTIFICATION_EMAIL=

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_TICKET_ATTACHMENTS_BUCKET=
SUPABASE_PROFILE_IMAGES_BUCKET=

NODE_ENV=production
PORT=3000