node_modules

# Keep environment variables out of version control
.env

/generated/prisma

public/uploads/*
!public/uploads/.gitkeep

src/uploads/*
!src/uploads/.gitkeep

# AI
.claude/
.codex/

# Graphify
graphify-out/

# Branding temporal
Branding.png
logo.png